
@keyframes start {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes toSection1 {
    0%{top: 0; width:200%; height: 200%;}
    100% {width: 100%; height: 100%;}
    60% {width: 100%; height: 100%;}
    100% {width: 200%; height: 200%; top: -50%;}
}

