.border {
    border: solid 1px #000;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.size2 {
    transform: scale(2.5,2.5);
}
.size1 {
    transform: scale(1,1);
}