* {
    margin: 0;
    padding: 0;
    transition: 0.5s ease;
}
body {
    overflow: hidden;
    
}
.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 200;
    pointer-events: none;
    background-image: url(../IMG/Loading.gif);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}
.loading>img {
    height: 100%;
    width: 100%;
}

.cursor-black {
    cursor: url("data:image/svg+xml,%3Csvg id='eHUuqOGk9oY1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 40 40' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' width='40' height='40'%3E%3Cpath d='M21.38189,88.079403h37.710134v3.02969h-79.134631v-3.02969h38.660707v-136.158802h-38.660707v-3.02969h79.134631v3.02969h-37.710134v136.158802Z' transform='matrix(.360782 0 0 0.269792 12.784362 14.60416)' stroke-width='0'/%3E%3C/svg%3E") 20 20, pointer;
}
.cursor-white {
    cursor: url("data:image/svg+xml,%3Csvg id='eaAxfqVErhU1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 40 40' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' width='40' height='40'%3E%3Cpath d='M30.30552,31.57592L20,21.2704L9.69448,31.57592l-1.2704-1.2704L18.7296,20L8.42408,9.69448l1.2704-1.2704L20,18.7296L30.30552,8.42408l1.2704,1.2704L21.2704,20L31.57592,30.30552l-1.2704,1.2704Z' fill='%23fff' stroke-width='0'/%3E%3C/svg%3E") 20 20, pointer;
}

::selection {
    background: #000;
    color: #fff;
}
.link:hover {
    cursor: url("data:image/svg+xml,%3Csvg id='evqmYyfCI9K1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 40 40' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' width='40' height='40'%3E%3Cpath d='M21.38189,88.079403h37.710134v3.02969h-79.134631v-3.02969h38.660707v-136.158802h-38.660707v-3.02969h79.134631v3.02969h-37.710134v136.158802Z' transform='matrix(.360782 0 0 0.269792 12.784362 14.60416)' fill='%23fff' stroke-width='0'/%3E%3C/svg%3E") 20 20, pointer;
}


.dynamic-menu {
    position: absolute;
    height: var(--dynamicMenuHeight);
    width: calc(var(--dynamicMenuHeight) * 4);
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    pointer-events: none;
    opacity: 0;
}
.dynamicMenuOn {
    opacity: 1;
}
.dynamicMenuOff {
    opacity: 0;
}
.dynamic-menu-item {
    border: solid 1px var(--dynamicMenuOffColor);
    margin-left: cal;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--dynamicMenuHeight);
    width: var(--dynamicMenuHeight);
    
}
.dynamic-menu-item:nth-child(1) {
    background: #000;
}
.dynamic-item-icon {
    transition: 0.2s ease;
    
}





.not-mode-container {
    margin-top: 10%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: edit;
    font-size: 1.5vh;
    border: solid 1px #000;
    z-index: 10;

}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform-origin: 0px 0px;
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);
    transition-timing-function: ease;
    transition: 0.4s;
    z-index: 0;
    background:#fff;
}
.container-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url(../BG/BG7.png);
    background-repeat: repeat;
    background-size: 40px 40px;
    z-index: 1;
}
.section {
    position: relative; 
    z-index: 2;
}
.section-main {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.section-underline {
    position: absolute;
    top: 17.5%;
    background: #000;
    width: 95%;
    height: 1px;
    left: 5%;
}
.section-header {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: center;
    text-align: left;
    padding-left: 5%;
    font-family: coo;
    font-weight: 300;
    font-size: 4.2vh;
    color: #000;
}
.start-icon {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 30%;
    width: 3%;
}
.start-line {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:50%;
    width: 1px;
    background: #000;
}
.start-line:nth-child(1) {
    top: 30%;
    transform: rotate(45deg);
}
.start-line:nth-child(2) {
    top: -25%;
    transform: rotate(-45deg);
}
.section-header-name {
    margin-left: 50px;
}
.section-text-container {
    flex: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.section-para {
    position: relative;
    margin-left: 5%;
    height: 90%;
    width: 95%;
}
.section-para>p {
    position: relative;
    font-size: 0.9vh;
    font-family: edit;
    font-weight: 300;
    color: #000;
    line-height: 1.5vh;
    margin-bottom: 10px;
    z-index: 444;
}
.section-para>p:last-of-type {
    margin-bottom: 0px;
}
    


.section-1>.section-main>.section-header {
    flex: 1;
}
.section-1>.section-main>.section-text-container {
    flex: 9;
}
.section-2>.section-main>.section-header {
    position: relative;
    width: 200%;
}
.section-2>.section-main>.section-underline {
    width: 160%;
}
.section-3>.section-main>.section-text-container>.section-para:nth-child(1) {
    flex: 6;
}
.section-3>.section-main>.section-text-container {
    flex-direction: row-reverse;
}
.section-3>.section-main>.section-header {
    margin-top: 30px;
}
.section-3>.section-main>.section-text-container>.section-para:nth-child(2) {
    flex: 4;
}
.section-4 {
    z-index: 5;
}
.section-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-6>.section-main>.section-text-container {
    flex: 1;
}
.section-6>.section-main>.section-underline {
   top: 0%;
}




.article-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: coo;
    font-size: 6vh;
    font-weight: 300;
    margin-top: 20px;
    position: relative;
    perspective: 1000;
}
.title {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.article-info {
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.author {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: edit;
    font-weight: 700;
    font-size: 1.2vh;
}
.date {
    text-align: right;
    font-family: edit;
    font-size: 1.2vh;
}


.notation-container {
    position: fixed;
    bottom: -51%;
    left: 0px;
    height: 50%;
    width: 100%;
    z-index: 15;
}
.notation {
    position: absolute;
    bottom: 0%;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: #fff;
    display: flex;
    flex-direction: row;
}
.not-main {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}
.not-header {
    flex: 1.5;
    position: relative;
    align-self: center;
    width: 91%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.not-header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sans;
    font-size: 1.3vh;
    letter-spacing: 5px;
}
.article-section-name {
    font-family: coo;
    letter-spacing: 1px;
    margin-right: 10px;

}

.not-text {
    flex: 8.5;
}
.not-text>p {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: 20px;
    font-family: edit;
    font-size: 1.5vh;
    line-height: 2.5vh;
}
.not-img {
   flex: 1;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% auto;
}
.notation0>.not-img {
    background-image: url(../IMG/DG2.jpg);
}
.notation1>.not-img {
    background-image: url(../IMG/Paul-Michel-Foucault.jpeg);
}
.notation2>.not-img {
    background-image: url(../IMG/ch5_0.jpeg);
}
.notation3>.not-img {
    background-image: url(../IMG/CourtDress.jpeg);
}
.notation4>.not-img {
    background-image: url(../IMG/RevolutionSuit.png);
    background-size: 120% auto;
    background-position: center -30px;
}
.notation5>.not-img {
    background-image: url(../IMG/FoxHunter.jpg);
}
.notation6>.not-img {
    background-image: url(../IMG/Skirts.png);
    background-position: bottom center;
}

.not-img>img {
    float: right;
    width: 100%;
    height: auto;
}

.link {
    font-family: edit;
    border: solid 0px #fff;
    padding: 0px;
    font-size: 0.8vh;
}
.link:hover {
    font-family: edit;
}






.thumb {
    position: absolute;
    background: #000;
    border: solid 1px #fff;
    pointer-events: none;
    opacity: 1;
    z-index: 14;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}
.thumb-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sans;
    font-size: 1.5vh;
    color: #fff;
    white-space: nowrap;
    padding: 1vh;
}

.thumb0 {
    left: 15%;
    top: 15%;
    animation: thumb0Float 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
.thumb1 {
    top: 10%;
    left: 63%;
    animation: thumb1Float 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.thumb2 {
    top: 20%;
    left: 80%;
    animation: thumb2Float 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.thumb3 {
    top: 30%;
    left: 25%;
    animation: thumb3Float 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.thumb4 {
    top: 65%;
    left: 15%;
    animation: thumb4Float 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.thumb5 {
    top: 85%;
    left: 25%;
    animation: thumb5Float 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.thumb6 {
    top: 45%;
    left: 30%;
    animation: thumb6Float 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.thumb7 {
    top: 65%;
    left: 80%;
    animation: thumb7Float 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.canvas {
    position: absolute;
    z-index: 13;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}



.info-container {
    position: absolute;
    top: 100%;
    left: calc(75% / 2);
    height: 25%;
    width: 25%;
    background: #fff;
    border: solid 1px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 5%;
}
.info-container>p {
    position: relative;
    width: 110%;
    font-family: edit;
    font-size: 1.5vh;
    color: rgb(0, 0, 0);
    line-height: 2.3vh;
}
.info-container>p:nth-of-type(1) {
    margin-top: -5%;
    border: solid 1px #000;
    text-align: center;
    padding: 10px;
}
.info-container>p:nth-of-type(2) {
    text-align: center;
    font-family: edit-bold;
}
.info-container>div {
    position: relative;
    padding-top: 10px;
    text-align: right;
    border-top: solid 1px #000;
    display: flex;
    flex-direction: row;
    font-family: edit;
    font-size: 1.5vh;
    width: 110%;
    line-height: 2vh;
}
.info-container>div>div:nth-of-type(1) {
    flex: 1;
    text-align: left;
}
.info-container>div>div:nth-of-type(2) {
    flex: 1;
    text-align: right;
}
